# Problem set 3: Loading and structuring data from Denmark Statistics

In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn-v0_8-whitegrid')
import pandas as pd
import ipywidgets as widgets

# Tasks

## Create a pandas DataFrame

Modify the code below such that *income* and *consumption* are variables in the *dt* DataFrame.

In [3]:
np.random.seed(1999)
 
N = 100
mydata = {}
mydata['id'] = range(N)

income = np.exp(np.random.normal(size=N))
consumption = np.sqrt(income)

dt = pd.DataFrame(mydata)
dt["income"] = income
dt["consumption"] = consumption

dt.head()

   id    income  consumption
0   0  0.727981     0.853218
1   1  1.997831     1.413447
2   2  0.276823     0.526140
3   3  1.481931     1.217346
4   4  1.235904     1.111712

**Answer:** see A01.py

## Create new variable

1) Add a new variable *ratio* which is the ratio of consumption to income.

In [4]:
dt["ratio"] = dt["consumption"]/dt["income"]

dt.head()

   id    income  consumption     ratio
0   0  0.727981     0.853218  1.172033
1   1  1.997831     1.413447  0.707490
2   2  0.276823     0.526140  1.900636
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513

**Answer:** See A02.py

## Summary statistics

Produce summary statistics using `.describe()`.

In [5]:
dt.describe()

               id      income  consumption       ratio
count  100.000000  100.000000   100.000000  100.000000
mean    49.500000    1.415547     1.087844    1.117517
std     29.011492    1.322203     0.484238    0.525452
min      0.000000    0.108402     0.329245    0.351134
25%     24.750000    0.529323     0.727545    0.752310
50%     49.500000    0.981178     0.990533    1.009580
75%     74.250000    1.768211     1.329572    1.374491
max     99.000000    8.110612     2.847914    3.037255

**Answer:** See A03.py

## Indexing

Select everybody with an income above 1.

In [6]:
dt4 = dt.copy()
dt4 = dt4[dt4["income"]>1]

dt4.head()

   id    income  consumption     ratio
1   1  1.997831     1.413447  0.707490
3   3  1.481931     1.217346  0.821459
4   4  1.235904     1.111712  0.899513
6   6  2.574032     1.604379  0.623294
7   7  2.475478     1.573365  0.635580

**Answer:** See A04.py

Select everybody with an income *above* 1 and a ratio *above* 0.7.

In [7]:
dt5 = dt.copy()

dt5 = dt5.loc[(dt5["income"] > 1) & (dt5["ratio"] > 0.7)]

dt5.head()

    id    income  consumption     ratio
1    1  1.997831     1.413447  0.707490
3    3  1.481931     1.217346  0.821459
4    4  1.235904     1.111712  0.899513
11  11  2.031708     1.425380  0.701567
18  18  1.280235     1.131475  0.883802

**Answer:** See A05.py

Set consumption equal to 0.5 if income is less than 0.5.

In [8]:

dt6 = dt.copy()
dt6.loc[(dt6["income"] < 0.5), ["consumption"]] = 0.5
dt6["ratio"] = dt6["consumption"]/dt6["income"]
print(dt6.head(4))

print(dt['consumption'].mean()) # <- compare with answer
print(dt6['consumption'].mean()) # Consumption's mean falls because we set some of them equal to 0.5

   id    income  consumption     ratio
0   0  0.727981     0.853218  1.172033
1   1  1.997831     1.413447  0.707490
2   2  0.276823     0.500000  1.806210
3   3  1.481931     1.217346  0.821459
1.0878444061731818
1.075479712048503

**Answer:**  See A06.py

Set consumption equal to income if income is less than 0.5.

In [9]:
print(dt.head(3))

dt7 = dt.copy()
dt7.loc[(dt7["income"] < 0.5), ["consumption"]] = dt7["income"]
dt7["ratio"] = dt7["consumption"]/dt7["income"]

print(dt7.head(3))
print(dt['consumption'].mean()) # <- compare with answer
print(dt7['consumption'].mean()) # Consumption's mean falls even further because it is reduced more

   id    income  consumption     ratio
0   0  0.727981     0.853218  1.172033
1   1  1.997831     1.413447  0.707490
2   2  0.276823     0.526140  1.900636
   id    income  consumption     ratio
0   0  0.727981     0.853218  1.172033
1   1  1.997831     1.413447  0.707490
2   2  0.276823     0.276823  1.000000
1.0878444061731818
1.0337728690050054

**Answer:** See A07.py

## Dropping

Drop the *ratio* variable and all rows with an income above 1.5. After this, also drop the first 5 rows.

In [10]:
df = dt.copy()
print(f'before: {df.shape[0]} observations, {df.shape[1]} variables')

df = df.drop("ratio", axis = "columns")[df["income"]<1.5]

print(f'after: {df.shape[0]} observations, {df.shape[1]} variables')

before: 100 observations, 4 variables
after: 70 observations, 3 variables

**Answer:** see A08.py

## Renaming

Rename *consumption* to *cons* and *income* to *inc*.

In [11]:
# write your code
dt.rename(columns = {"income": "inc", "consumption": "cons" }, inplace=True)

dt.head()

   id       inc      cons     ratio
0   0  0.727981  0.853218  1.172033
1   1  1.997831  1.413447  0.707490
2   2  0.276823  0.526140  1.900636
3   3  1.481931  1.217346  0.821459
4   4  1.235904  1.111712  0.899513

**Answer:** see A09.py

## Functions

Correct the wrong lines such that `assets_1 = assets_2 = assets_3 = assets_4`.

In [12]:
def assets_row_by_row(x,R,Y):
    return R*(x['inc']-x['cons'])+Y
    
def assets_all_at_once(income,consumption,R,Y):
    return R*(income-consumption)+Y

def assets_adj(assets,R,Y):
    assets *= R
    assets +=Y
    

R = 1.2 # return rate
Y = 1 # income
try:
    dt['assets_1'] = R*(dt['inc']-dt['cons'])+Y
    dt['assets_2'] = dt.apply(assets_row_by_row,axis=1,args=(R,Y))
    dt['assets_3'] = assets_all_at_once(dt['inc'].values,dt['cons'].values,R,Y)
    dt['assets_4'] = dt['inc']-dt['cons']
    assets_adj(dt['assets_4'],R,Y)
except:
    print('failed')

dt.head()

   id       inc      cons     ratio  assets_1  assets_2  assets_3  assets_4
0   0  0.727981  0.853218  1.172033  0.849716  0.849716  0.849716  0.849716
1   1  1.997831  1.413447  0.707490  1.701262  1.701262  1.701262  1.701262
2   2  0.276823  0.526140  1.900636  0.700820  0.700820  0.700820  0.700820
3   3  1.481931  1.217346  0.821459  1.317502  1.317502  1.317502  1.317502
4   4  1.235904  1.111712  0.899513  1.149030  1.149030  1.149030  1.149030

**Answer:** see A10.py

# Problem

Load the data set in *data/NAH1_pivoted.xlsx* and clean and structure it such that the `plot_timeseries(dataframe)` below can be run and produce an interactive figure.

In [13]:
def _plot_timeseries(dataframe, variable, years):
    
    fig = plt.figure(dpi=100)
    ax = fig.add_subplot(1,1,1)
    
    dataframe.loc[:,['year']] = pd.to_numeric(dataframe['year'])
    I = (dataframe['year'] >= years[0]) & (dataframe['year'] <= years[1])
    
    x = dataframe.loc[I,'year']
    y = dataframe.loc[I,variable]
    ax.plot(x,y)
    
    ax.set_xticks(list(range(years[0], years[1] + 1, 5)))    
    
def plot_timeseries(dataframe):
    
    widgets.interact(_plot_timeseries, 
    dataframe = widgets.fixed(dataframe),
    variable = widgets.Dropdown(
        description='variable', 
        options=['Y','C','G','I','X','M'], 
        value='Y'),
    years=widgets.IntRangeSlider(
        description="years",
        min=1966,
        max=2018,
        value=[1980, 2018],
        continuous_update=False,
    )                 
);

**Hint 1:** You can base your renaming on this dictionary:

In [14]:
rename_dict = {}
rename_dict['Unnamed: 0'] = 'year'
rename_dict['Unnamed: 1'] = 'prices'
rename_dict['P.1 Output'] = 'Y'
rename_dict['P.1 Output'] = 'Y'
rename_dict['P.3 Final consumption expenditure'] = 'C'
rename_dict['P.3 Government consumption expenditure'] = 'G'
rename_dict['P.5 Gross capital formation'] = 'I'
rename_dict['P.6 Export of goods and services'] = 'X'
rename_dict['P.7 Import of goods and services'] = 'M'

**Hint 2:** You code should have the following structure:

In [18]:
# a. load data set
nah1 = pd.read_excel("data/NAH1_pivoted.xlsx", skiprows = 2)
# b. rename variables
nah1.rename(columns = rename_dict, inplace= True)
nah1 = nah1[rename_dict.values()]

# c. remove rows where Y is nan
nah1.dropna(subset=["Y"], inplace=True)

# d. correct year column data
# hint, 
J = nah1["year"].isna()
I = nah1["year"].notna()
nah1.loc[J,['year']] = nah1.loc[I,['year']].values

# e. only keep rows with '2010-prices, chained values'
nah1 = nah1[nah1["prices"] == "2010-prices, chained values"]

**Answer:** see A11.py

In [17]:
plot_timeseries(nah1)

interactive(children=(Dropdown(description='variable', options=('Y', 'C', 'G', 'I', 'X', 'M'), value='Y'), Int…

# Extra problems

## Extend interactive plot

Extend the interactive plot with a choice of *real* vs *nominal*.

## New data set

Load data from an Excel or CSV file you have downloaded from e.g. [Statistikbanken.dk](https://www.statistikbanken.dk/). Clean, structure and present the data as you see fit.